<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>GoalGetter.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D74E97C91DDCE1AB003D1B11</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D74E97DD1DDCE1AC003D1B11</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D74E97E81DDCE1AC003D1B11</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
